<h1>Quelqu'un a répondu à l'invitation</h1>

<h2>Nom : </h2>
<p>{{ nom }}</p>

<h2>Participe :  (1 = Oui, vide = Non)</h2>
<p>{{ participe }}</p>

<h2>Participant(s) : </h2>
<p>{{ message }}</p>

<h2>Mail : </h2>
<p>{{ email }}</p>
